[Unit]
Description=shut down docker containers
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/stop-docker.sh
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target
